@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #130f40;
    color: #f8f8f8;
}

a {
    color: #f8f8f8;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.btn-prime{
    background: #f5f5f5;
    color: #130f40;
    padding: 5px 12px;
    border-radius: 2px;
    border: 1px solid #f5f5f5;
    transition: all 0.2s ease;
}

.btn-prime:hover{
    background: transparent;
    color: #f5f5f5;
}

/* NAVBAR */

nav {
    padding-top: 20px;
}

.overlay-menu {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.4s;
}

.overlay-menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-menu-content li {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay-menu-content li a {
    color: #f5f5f5;
}

.overlay-menu-content li a:hover,
.overlay-menu-content li a:focus {
    color: #56ff89;
}

.open-btn{
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.overlay-menu .close-btn{
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
}

/* HEADER */

header{
    margin-top: 40px;
    height: 100%;
}

header .flex{
    flex-direction: column;
}

.left-hero{
    width: 15rem;
}

.left-hero img{
    border-radius: 50%;
    width: 100%;
}

.right-hero{
    text-align: center;
}

.right-hero-text{
    margin-top: 15px;
}

.right-hero-text .green{
    color: #56ff89;
}

.right-hero-text h3{
    margin-top: 15px;
}

.right-hero-links{
    margin-top: 15px;
}

.right-hero-links>*+*{
    margin-left: 8px;
} 

.fa-github, .fa-linkedin-in{
    font-size: 20px;
    display: inline-flex;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: all 0.3s;
}

.fa-github:hover, .fa-linkedin-in:hover{
    color: #56ff89;
}


h1, h2{
    line-height: 40px
}

